@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* VARIABLES */
:root {
  /* Colors */
  --bg-color: #ececec;
  --text-main: #111111;
  --text-secondary: #666666;
  --text-muted: rgba(0, 0, 0, 0.7);
  --text-inverse: #ffffff;

  --accent: #000000;
  --accent-hover: #222222;
  --theme: rgba(214, 102, 255, 0.4);

  --card-bg: #ffffff;
  --border-light: rgba(0, 0, 0, 0.1);
  --border-med: #cccccc;

  /* Navigation */
  --nav-bg: #111111;
  --nav-text: #999999;
  --nav-active-bg: #ffffff;
  --nav-active-text: #000000;

  /* Typography */
  --font-main: "Inter", sans-serif;
  --font-mono: "Space Mono", monospace;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-main);
  background: var(--bg-color);
  color: var(--text-main);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: var(--theme);
  color: var(--accent);
}

.btn {
  --accent: #ececec;
  display: inline-block;
  padding: 16px 32px;
  background: var(--text-main);
  color: var(--text-inverse);
  text-decoration: none;
  border-radius: 999px;
  font-weight: 600;
  transition: transform 0.2s ease, background 0.2s;
}

.btn:hover {
  transform: translateY(-2px);
  background: var(--accent-hover);
}

.btn-outline {
  background: transparent;
  border: 2px solid var(--accent);
  color: var(--accent);
}

.btn-outline:hover {
  background: var(--accent);
  color: var(--text-inverse);
}

/* ANIMATIONS */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
