/* init style-sheet */
:root {
  --background: #f4f1ea;
  --surface: #c5c1ba;
  --color: #1a1a1a;
  --accent: #c65d47;
  --muted: #8c8682;
  --line: rgba(0, 0, 0, 0.08);

  /**fonts**/
  --font-serif: "Buda", serif;
  --font-sans: "Bricolage Grotesque", sans-serif;
  --font-mono: "Space Mono", monospace;

  --padding-container: 2rem 3rem;
}

#folio-container {
  width: 100%;
  height: 100%;
  min-height: 200vh;
}

nav {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: var(--accent);
  z-index: 10000;
  border-radius: 50%;
}
.nav-btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
.bar {
  width: 60%;
  height: 5%;
  border-radius: 4px;
  background: var(--background);
}
.navbar {
  width: 100%;
  height: 100vh;
  background-color: var(--surface);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  position: fixed;
  top: -100%;
  right: -100%;
  z-index: 1000;
  transition: all 0.75s ease;
  border-radius: 999px;
}
.open .bar:nth-child(1) {
  transform: rotate(45deg) translateY(6px);
}

.open .bar:nth-child(2) {
  transform: rotate(-45deg) translateY(-6px);
}
.navbar.in-view {
  border-radius: 0;
  top: 0;
  right: 0;
}

/**Header CSS**/
header {
  width: 100%;
  height: 100vh;
  padding: var(--padding-container);
}
.hero {
  width: 100%;
  height: 100%;
  padding: 20vh 5vw;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-end;
  
}
.hero-header{
  width: 100%;
}
.hero-sub{
  width: 100%;
  margin-top: 2rem;
  width: 35%;
  margin-left: auto;
  margin-right: 8vw;
}
h1 {
  font-family: var(--font-sans);
  font-size: clamp(3.5rem, 11vw, 12rem);
  line-height: 0.85;
  letter-spacing: -0.03rem;
  font-weight: 400;
}
h1 span {
  color: var(--accent);
}
